.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 15px;
}

header {
  padding-bottom: 164px;
}

.header__nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.header__nav .header__nav-link {
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2.5rem 0;
  text-decoration: none;
}

@media (max-width: 375px) {
  header {
    padding-bottom: 64px;
  }
  header .header__nav {
    gap: 1rem;
  }
  header .header__nav .header__nav-link {
    font-size: 14px;
  }
}
.artificial__info {
  margin-bottom: 100px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.artificial__left {
  width: 49%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.artificial__left h6 {
  color: var(--3-a-68-b-8, #3A68B8);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.artificial__left h1 {
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  padding-bottom: 40px;
  width: 105%;
}
.artificial__left p {
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  width: 97%;
}
.artificial__left .button {
  margin-top: 50px;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.artificial__left .button a {
  padding: 1rem 2rem;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3A68B8);
  text-decoration: none;
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.link-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.artificial__right {
  width: 40%;
}

.right-img {
  width: 100%;
  height: 100%;
}

.artificial__logo {
  padding: 97px 0px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .artificial__info {
    flex-direction: column;
    align-items: center;
    gap: 128px;
  }
  .artificial__left {
    width: 77%;
  }
  .artificial__left h6 {
    font-size: 16px;
  }
  .artificial__left h1 {
    font-size: 48px;
  }
  .artificial__right {
    width: 60%;
  }
  .artificial__logo {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 97px 40px 120px 40px;
  }
}
@media (max-width: 375px) {
  .artificial__info {
    flex-direction: column;
    align-items: center;
    gap: 128px;
  }
  .artificial__left {
    text-align: center;
    width: 93%;
  }
  .artificial__left h6 {
    font-size: 14px;
    padding-bottom: 16px;
  }
  .artificial__left h1 {
    font-size: 28px;
    padding-bottom: 64px;
  }
  .artificial__left .button {
    margin-top: 39px;
    flex-direction: column;
    gap: 24px;
  }
  .artificial__right {
    width: 100%;
  }
  .artificial__logo {
    gap: 32px;
    padding: 0px 40px 108px 40px;
  }
}
.apply {
  display: flex;
  justify-content: center;
  gap: 68px;
  padding-top: 157px;
  padding-bottom: 264px;
}
.apply .apply_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.apply .apply_right h4 {
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 484px;
  padding-bottom: 30px;
}
.apply .apply_right p {
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  width: 460px;
  opacity: 0.7;
  padding-bottom: 50px;
}

.apply-btn {
  display: block;
}
.apply-btn a {
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3A68B8);
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1024px) {
  .apply {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .apply {
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
  }
  .apply .apply__left img {
    width: 100%;
  }
  .apply .apply_right {
    text-align: center;
  }
  .apply .apply_right h4 {
    font-size: 24px;
    padding-bottom: 16px;
    width: 100%;
  }
  .apply .apply_right p {
    padding-bottom: 16px;
    width: 100%;
  }
  .apply .apply_right a {
    display: inline-block;
  }
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 362px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 243px;
}
.items .item {
  border-radius: 10px;
  background: #132035;
  padding: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items .item h6 {
  color: var(--ffffff, #FFF);
  text-align: center;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}
.items .item p {
  color: var(--ffffff, #FFF);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
}
.items .item-big {
  grid-column: span 2;
  grid-row: span 2;
  gap: 60px;
}

@media (max-width: 1024px) {
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .items .item {
    width: 362px;
  }
  .items .item-none {
    display: none;
  }
}
@media (max-width: 375px) {
  .items {
    padding-bottom: 96px;
  }
}
.what {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-bottom: 221px;
}
.what .what__left {
  display: flex;
  flex-direction: column;
}
.what .what__left h4 {
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 548px;
  padding-bottom: 40px;
}
.what .what__left p {
  color: var(--ffffff, #FFF);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  width: 460px;
  opacity: 0.7;
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .what {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
}
@media (max-width: 375px) {
  .what {
    gap: 32px;
    padding-bottom: 96px;
  }
  .what .what__left {
    text-align: center;
  }
  .what .what__left h4 {
    font-size: 24px;
    width: 100%;
  }
  .what .what__left p {
    width: 100%;
  }
  .what .what__right img {
    width: 100%;
  }
}
.footer {
  background: hsla(218, 85%, 5%, 0.438);
}

.footer__info {
  padding: 48px 0px 52px 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer__info .footer__left {
  width: 362px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__info .footer__left .left-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__info .footer-none {
  display: none;
}
.footer__info .footer__mid {
  width: 362px;
}
.footer__info .footer__right {
  width: 362px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__info .footer__right .icons {
  display: flex;
  gap: 24px;
}
.footer__info .footer__right .icons img {
  opacity: 0.4;
}

.footer-bigtext {
  color: var(--ffffff, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 8px;
}

p {
  color: var(--ffffff, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opacity {
  opacity: 0.3;
  width: 74%;
  padding-top: 25px;
}

@media (max-width: 1024px) {
  .footer__info {
    flex-wrap: wrap;
    justify-content: left;
  }
  .footer__info .footer__left {
    width: 47%;
  }
}
@media (max-width: 375px) {
  .footer__info {
    padding: 113px 0px 64px 0px;
    justify-content: left;
  }
  .footer__info .footer__left {
    display: none;
  }
  .footer__info .footer__mid {
    width: 100%;
  }
  .footer__info .footer__mid .footer-bigtext {
    text-align: center;
  }
  .footer__info .footer__right {
    text-align: center;
    gap: 24px;
  }
  .footer__info .footer__right .icons {
    justify-content: center;
  }
  .footer__info .footer-none {
    display: flex;
  }
  .footer__info .footer-none .footer-bigtext {
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background: var(--020-a-18, #020A18);
}

span {
  color: #F25822;
}