@charset "UTF-8";
.header {
  margin: 45px 0px 90px 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

details {
  display: block;
}

details summary {
  list-style: none;
  cursor: pointer;
  position: relative;
}

details summary::after {
  content: " ›";
  font-size: 1rem;
  position: absolute;
  margin-left: 0.2rem;
}

details[open] summary::after {
  transform: rotate(90deg);
  color: #082dfa;
  margin-top: 2px;
  font-size: 1rem;
}

.seo__info {
  margin-bottom: 162px;
}

.seo__left h1 {
  margin-bottom: 17px;
}
.seo__left .button {
  margin-top: 37px;
}

.seo__logo {
  padding: 97px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

span {
  color: #F25822;
}