.footer {
	background: hsla(218, 85%, 5%, 0.438);
}

.footer__info {
	padding: 48px 0px 52px 0px;
	display: flex;
	justify-content: center;
	gap: 30px;

	.footer__left {
		width: 362px;
		display: flex;
		flex-direction: column;
		gap: 25px;

		.left-list {
			display: flex;
			align-items: center;
			gap: 10px;

		}
	}

	.footer__mid {
		width: 362px;
	}

	.footer__right {
		width: 362px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		.icons {
			display: flex;
			gap: 24px;

			img {
				opacity: 0.4;
			}
		}
	}
}

.footer-bigtext {
	color: var(--ffffff, #FFF);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-bottom: 8px;
}

p {
	color: var(--ffffff, #FFF);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.opacity {
	opacity: 0.3;
	width: 74%;
	padding-top: 25px;
}