header {
	padding-bottom: 164px;
}

.header__nav {
	display: flex;
	gap: 2rem;
	justify-content: center;

	.header__nav-link {
		color: var(--ffffff, #FFF);
		font-family: Open Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		padding: 2.5rem 0;
		text-decoration: none;
	}
}