.container {
	max-width: 1178px;
	margin: 0 auto;
	padding: 0px 15px;
}

header {
	padding-bottom: 164px;
}

.header__nav {
	display: flex;
	gap: 2rem;
	justify-content: center;

	.header__nav-link {
		color: var(--ffffff, #FFF);
		font-family: Open Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		padding: 2.5rem 0;
		text-decoration: none;
	}
}

@media (max-width: 375px) {

	// .center {
	// 	padding-left: calc(50% - 179.5px);
	// 	padding-right: calc(50% - 179.5px);
	// }

	header {

		padding-bottom: 64px;

		.header__nav {

			gap: 1rem;

			.header__nav-link {
				font-size: 14px;
			}
		}
	}

}