.artificial__info {
	margin-bottom: 100px;
	display: flex;
	gap: 30px;
	justify-content: space-between;

}

.artificial__left {
	width: 49%;
	flex-direction: column;
	justify-content: space-between;

	h6 {
		color: var(--3-a-68-b-8, #3A68B8);
		font-family: Open Sans;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 160%;
		text-transform: uppercase;
		padding-bottom: 10px;
	}

	h1 {
		color: var(--ffffff, #FFF);
		font-family: Open Sans;
		font-size: 55px;
		font-style: normal;
		font-weight: 800;
		line-height: 130%;
		padding-bottom: 40px;
		width: 105%;
	}

	p {
		color: var(--ffffff, #FFF);
		font-family: Open Sans;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 160%;
		opacity: 0.7;

		width: 97%;
	}

	.button {
		margin-top: 50px;
		display: flex;
		gap: 1.2rem;
		align-items: center;

		a {
			padding: 1rem 2rem;
			border-radius: 5px;
			background: var(--3-a-68-b-8, #3A68B8);
			text-decoration: none;
			color: var(--ffffff, #FFF);
			font-family: Open Sans;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
}

.link-flex {
	display: flex;
	align-items: center;
	gap: 10px;
}

.artificial__right {
	width: 40%;
}

.right-img {
	width: 100%;
	height: 100%;

}

.artificial__logo {
	padding: 97px 0px;
	display: flex;
	justify-content: space-between;
}