.what {
	display: flex;
	gap: 25px;
	justify-content: center;
	padding-bottom: 221px;

	.what__left {
		display: flex;
		flex-direction: column;

		h4 {
			color: var(--ffffff, #FFF);
			font-family: Open Sans;
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			width: 548px;
			padding-bottom: 40px;
		}

		p {
			color: var(--ffffff, #FFF);
			font-family: Open Sans;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 160%;
			width: 460px;
			opacity: 0.7;
			padding-bottom: 20px;
		}
	}
}